html {
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.1;
  background-color: #222222;
  color: #F1F3F0;

}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

#root {
  height: 100%;
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}
